{% extends 'base.html.twig' %}

{% block title %}Nouvelle Équipe{% endblock %}

{% block body %}
    <div class="mission-create-wrapper">
        <h1 class="neon-title">Création d'une Nouvelle Équipe</h1>

        <div class="mission-form-container">
            {{ include('team/_form.html.twig') }}
        </div>

        <div class="back-container">
            <a href="{{ path('app_team_index') }}" class="back-btn" style="position: relative; left: 9rem;">Retour à la liste des équipes</a>
        </div>
    </div>
{% endblock %}
