{% extends 'base.html.twig' %}

{% block title %}Cyber Interface{% endblock %}

{% block body %}
    <body id='accueil'>
        <div class="container">
            <h1><span class="auto-type"></span></h1>
        </div>



    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        var phrases = [
            "Transmission entrante de Coruscant...", 
            "Alerte: Anomalie détectée dans le secteur 7", 
            "Mise à jour du système en cours...",
            "Nouveau rapport de Night City...",
            "Mise à jour des implants disponible",
            "Scanner: menace détectée à proximité"
        ];

        shuffleArray(phrases);

        var typed = new Typed(".auto-type", {
            strings: phrases,
            typeSpeed: 150,
            backSpeed: 50,
            loop: true
        });
    </script>
    </body>
{% endblock %}
