{% extends 'base.html.twig' %}

{% block title %}Éditer Super-Héros{% endblock %}

{% block body %}
    <div class="mission-edit-wrapper">
        <h1 class="neon-title">Édition du Super-Héros</h1>

        <div class="mission-form-container">
            {{ include('super_hero/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}
        </div>

        <div class="back-container">
            <a href="{{ path('app_super_hero_index') }}" class="back-btn">Retour à la liste des super-héros</a>
        </div>

        <div class="delete-container">
            {{ include('super_hero/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
