{% extends 'base.html.twig' %}

{% block title %}Éditer Pouvoir{% endblock %}

{% block body %}
    <div class="mission-edit-wrapper">
        <h1 class="neon-title">Édition du Pouvoir</h1>

        <div class="mission-form-container">
            {{ include('power/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}
        </div>

        <div class="back-container">
            <a href="{{ path('app_power_index') }}" class="back-btn">Retour à la liste des pouvoirs</a>
        </div>

        <div class="delete-container">
            {{ include('power/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
