{% extends 'base.html.twig' %}

{% block title %}Nouveau Pouvoir{% endblock %}

{% block body %}
    <div class="mission-create-wrapper">
        <h1 class="neon-title">Création d'un Nouveau Pouvoir</h1>

        <div class="mission-form-container">
            {{ include('power/_form.html.twig') }}
        </div>

        <div class="back-container">
            <a href="{{ path('app_power_index') }}" class="back-btn" style="position: relative; left: 9rem;">Retour à la liste des pouvoirs</a>
        </div>
    </div>
{% endblock %}
