{% extends 'base.html.twig' %}

{% block title %}Éditer Mission{% endblock %}

{% block body %}
    <div class="mission-edit-wrapper">
        <h1 class="neon-title">Édition de la mission</h1>

        <div class="mission-form-container">
            {{ include('mission/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="back-container">
            <a href="{{ path('app_mission_index') }}" class="back-btn">Retour à la liste des missions</a>
        </div>

        <div class="delete-container">
            {{ include('mission/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
