{% extends 'base.html.twig' %}

{% block title %}Nouvelle mission{% endblock %}

{% block body %}
    <div class="mission-create-wrapper">
        <h1 class="neon-title">Création d'une nouvelle mission</h1>
        <div class="mission-form-container">
            {{ include('mission/_form.html.twig') }}
        </div>
        <div class="back-container">
            <a href="{{ path('app_mission_index') }}" class="back-btn">Retour à la liste des missions</a>
        </div>
    </div>
{% endblock %}
