:root {
    --neon-pink: #ff0080;
    --cyber-blue: #00ffff;
}

body {
    background-color: skyblue;
}

#accueil {
    background-image: url('../img/lobby.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container{
    width: 100vw;
    height: 63vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p{
    font-size: 20px;
    font-weight: 600;
    background: #333;
}

.container p span{
    color: #e639a1;
}

.status-box {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px; /* Taille du petit carré */
    padding: 16px;
    background-color: #333; /* Couleur de fond sombre */
    border: 2px solid var(--cyber-blue);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--cyber-blue);
    z-index: 1000; /* Pour s'assurer que la boîte est au-dessus des autres éléments */
}

.neon-text {
    font-size: 1.25rem; /* Taille du texte équivalente à text-xl */
    margin-bottom: 16px; /* Équivalent à mb-6 en Tailwind */
    color: var(--neon-pink);
    text-transform: uppercase;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
    text-align: center;
}

.hologram {
    animation: hologramFlicker 2s ease-in-out infinite;
    color: var(--cyber-blue);
    font-weight: bold;
}

.shield-value,
.energy-value {
    color: var(--cyber-blue);
    font-weight: bold;
}

/* Status item styles */
.status-item {
    margin-bottom: 20px;
}

.status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.progress-container {
    width: 100%;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #00bcd4; /* Cyan par défaut pour les boucliers */
    transition: width 0.4s ease;
}

#progress-bar-energy {
    background-color: #ff4081; /* Rose pour l'énergie */
}

/* Effets néon et holographiques */
@keyframes neonGlow {
    0% { text-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink), 0 0 30px var(--neon-pink); }
    100% { text-shadow: 0 0 20px var(--neon-pink), 0 0 30px var(--neon-pink), 0 0 40px var(--neon-pink); }
}

@keyframes hologramFlicker {
    0% { opacity: 0.8; }
    50% { opacity: 1; }
    100% { opacity: 0.8; }
}

